<!doctype html>
<html>
<meta charset="utf-8">
<title>VM 2014</title>
<link rel="stylesheet" href="/styles/vm.css"></link>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<div id="app"></div>

<script>
  // remove scrolbar safari
  window.addEventListener("load",function() {
    setTimeout(function(){
      window.scrollTo(0, 1);
    }, 100);
  });
</script>
<script src="/app-bundle.js"></script>
