<!doctype html>
<html>
<meta charset="utf-8">
<title>VM 2014</title>
<link rel="stylesheet" href="/styles/vm.css"></link>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<div id="app"></div>

<script>
  // remove scrolbar safari
  window.addEventListener("load",function() {
    setTimeout(function(){
      window.scrollTo(0, 1);
    }, 100);
  });
</script>
<script>
  // useful html5 elements for ie
  (function() {
  var i, len, els = ['header', 'section', 'article', 'aside', 'footer'];
  for (i = 0, len = els.length; i < len; i++) document.createElement(els[i]);
  })();
</script>

<script src="/app-bundle.js"></script>

<script>
  // ga
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45118411-4', 'wa.gd');
  ga('send', 'pageview');
</script>
