@path-font: '/styles/fonts';
@font-soccer: 'Samba';
@font-face {
    font-family: @font-soccer;
    font-style: normal;
    font-weight: 400;
    src: url("@{path-font}/@{font-soccer}.ttf") format('truetype'),
         url("@{path-font}/@{font-soccer}.svg#font") format('svg');
}
