@path-font: '/styles/fonts';
@font-soccer: 'samba';
@font-face {
    font-family: @font-soccer;
    font-style: normal;
    font-weight: 400;
    src: url("@{path-font}/@{font-soccer}.ttf") format('truetype');
}
