.guess {
  padding: 0.1em 0.2em;
}

.guess-score {
  float: right;
}

.guess-no-outcome {
  color: @color-no-outcome;
}

.guess-correct-outcome {
  color: @color-correct-outcome;
}

.guess-wrong-outcome {
  color: @color-wrong-outcome;
}

.guess-correct-result {
  color: @color-correct-result;
}
