.bet {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.no-outcome {
  color: @color-no-outcome;
}

.correct-outcome {
  color: @color-correct-outcome;
}

.wrong-outcome {
  color: @color-wrong-outcome;
}

.correct-result {
  color: @color-correct-result;
}
